<%- include('partials/head', {title: 'Home'}); %>
	<body>
		<%- include('partials/navbar', {isActive: 'Home'}); %>

		<!-- Productos -->
		<div class="container">
			<% if (typeof deleted !== 'undefined') { %>
			<div class="alert alert-success" role="alert">
				Producto eliminado
			</div>
			<% } %>
			<div class="row">
				<% theProducts.forEach(onePdto => { %>
				<div class="col-lg-3">
					<div class="card" style="margin-top: 20px; margin-bottom: 20px;">
						<img class="card-img-top" src="/assets/images/pdtos/<%= onePdto.pdtoImage %>" alt="thumbnail">
						<div class="card-body">
							<h5 class="card-title"><%= onePdto.pdtoName %></h5>
							<p class="card-text"><b>$ <%= onePdto.pdtoPrice %></b></p>
							<p class="card-text"><%= onePdto.pdtoDesc %></p>
							<a href="/product/detail/<%= onePdto.slug %>?id=<%= onePdto._id %>" class="btn btn-info">Detalle</a>
							<a href="/product/edit/<%= onePdto.slug %>?id=<%= onePdto._id %>" class="btn btn-warning">Editar</a>
						</div>
					</div>
				</div>
				<% }) %>
			</div>
		</div>

	</body>
</html>
